.jumbotron{
    background-image: url('../img/PRAU.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: 0px -200px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.jumbotron .text-jumbotron{
    position: absolute;
    padding: 30px;
    z-index: 999;
    bottom: 0;
    color: aliceblue;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
}